*{
	font-family: 'arial';
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	box-sizing: border-box;
}
body{
	position: relative;
	min-height: 100vh;
	width: 100%;
	overflow: hidden;
}
.menu_lateral{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 50px;
	background-color: #0d6efd;
	padding: 6px 5px;
	transition: all 0.5s ease;
	z-index: 1;
}
.menu_lateral.active{
	width: 240px;
	padding: 6px 14px;
}
.menu_lateral .logo_container .logo{
	color: white;
	display: flex;
	height: 50px;
	width: 100%;
	align-items: center;
	opacity: 0;
	pointer-events: none;
	transition: all 0.5s ease;
}
.menu_lateral.active .logo_container .logo{
	opacity: 1;
	pointer-events: none;
}
.logo_container .logo i{
	font-size: 28px;
	margin-right: 5px;
}
.logo_container .logo .logo_nome{
	opacity: 0;
	pointer-events: none;
	font-size: 20px;
	font-weight: 400;
	transition: all 0.5s ease;
}
.menu_lateral.active .logo .logo_nome{
	opacity: 1;
	pointer-events: auto;
}
.menu_lateral #botao{
	position: absolute;
	color: white;
	left: 40%;
	top: 6px;
	font-size: 25px;
	height: 50px;
	width: 50px;
	text-align: center;
	line-height: 50px;
	transform: translateX(-35%);
}
.menu_lateral.active #botao{
	left: 90%;
}
.menu_lateral ul{
	margin-top: 20px;
}
.menu_lateral ul li{
	position: relative;
	height: 50px;
	width: 100%;
	list-style: none;
	line-height: 50px;
}
.menu_lateral ul li .tooltip{
	position: absolute;
	height: 35px;
	width: 122px;
	left: 122px;
	top: 0;
	transform: translate(-50%, -50%);
	border-radius: 6px;
	background-color: white;
	line-height: 35px;
	text-align: center;
	box-shadow: 1px 5px 20px black;
	transition: 0s;
	opacity: 0;
	pointer-events: none;
	display: block;
}
.menu_lateral.active ul li .tooltip{
	display: none;
}
.menu_lateral ul li:hover .tooltip{
	transition: all 0.5s ease;
	opacity: 1;
	top: 50%;
}
.menu_lateral ul li a{
	color: white;
	display: flex;
	align-items: center;
	text-decoration: none;
	transition: all 0.2s ease;
	border-radius: 12px;
	white-space: nowrap;
}
.menu_lateral ul li a:hover{
	color: #0d6efd;
	background-color: white;
}
.menu_lateral ul li i{
	font-size: 25px;
	height: 50px;
	min-width: 50px;
	border-radius: 12px;
	line-height: 50px;
	text-align: center;
}
.menu_lateral .nome_link{
	opacity: 0;
	pointer-events: none;
	transition: all 0.5 ease;
}
.menu_lateral.active .nome_link{
	opacity: 1;
	pointer-events: auto;
}
.menu_lateral .profile_content{
	position: absolute;
	color: white;
	bottom: 0;
	left: 0;
	width: 100%;
}
.menu_lateral .profile_content .profile{
	position: relative;
	padding: 10px 6px;
	height: 60px;
	background-color: blue;
}
.profile_content .profile .profile_details{
	display: flex;
	align-items: center;
	opacity: 0;
	pointer-events: none;
	white-space: nowrap;
}
.menu_lateral.active .profile .profile_details{
	opacity: 1;
	pointer-events: auto;
}
.profile .profile_details img{
	height: 45px;
	width: 45px;
	object-fit: cover;
	border-radius: 12px;
}
.profile .profile_details .nome_trabalho{
	margin-left: 10px;
}
.profile .profile_details .nome{
	font-size: 15px;
	font-weight: 400;
}
.profile .profile_details .trabalho{
	font-size: 12px;
	font-weight: 400;
}
.profile #log_out{
	position: absolute;
	left: 55%;
	bottom: 5px;
	transform: translateX(-50%);
	min-width: 50px;
	line-height: 50px;
	font-size: 30px;
	border-radius: 12px;
}
.menu_lateral.active .profile #log_out{
	left: 88%;
	font-size: 25px;
}
.menu_lateral.active ~ .estilo{
	left: 240px;
	width: calc(100% - 240px);
}
.estilo{
	position: relative;
	left: 78px;
	width: calc(100% - 78px);
	height: 100%;
	padding: 1%;
	font-size: 18px;
	text-align: justify;
	transition: all 0.5s ease;
	z-index: 0;
}
p{
	margin-right: 30px;
	margin-left: 30px;
	text-indent: 30px;
}
p:first-letter{
	text-transform: uppercase;
}
p a{
	text-decoration: none;
	color: #0d6efd;
	font-weight: bolder;
}
hr{
	border-color: black;
	border-width: 2px;
	margin-bottom: 15px;
}
.estilo h1{
	color: #0d6efd;
	text-align: center;
	font-weight: bolder;
}