/* Estilizando a tag p */
p{
	margin-right: 0%;
	margin-left: 0%;
	text-indent: 0%;
}
/* Estilizando a imagem */
img.displayed{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
/* Estilizando a tag h2 */
h2{
    text-align: center;
}
/* Estilizando os títulos dos tópicos */
h4{
    margin-top: 5%;
    font-size: 18px;
    text-align: start;
    font-weight: bold;
    color: #014d81;
}
/* Estilizando as colunas (col) */
.topico{
    margin-right: 1%;
    border-style: solid;
    border-radius: 5%;
    border-width: thin;
    border-color: white;
    box-shadow: 1px 5px 10px black;
}