.FotoNome{
    background: rgb(2,102,168);
    background: radial-gradient(circle, rgba(2,102,168,1) 0%, rgba(1,77,129,1) 100%);
    border-radius: 12px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.conteudo{
    background-color: white;
    border-color:#b5babd;
    border-radius: 12px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.carteira h2{
    color: #014d81;
    font-weight: bold;
}
.edicao{
    color: white;
    position: relative;
}
.iconeEdicao{
    text-align: right;
    padding: 5px;
}
.inputEdicao{
    margin: 1%;
    height: 30px;
}
h2{
    text-align: center;
}
.vacina{
    margin: 1%;
    border: 2px solid gray;
    border-radius: 12px;
    text-align: center;
    padding: 5px;
}
.vacina h5:first-child{
    font-weight: bold;
}
.vacina p{
    margin: 0;
}