/*Formatação da foto de perfil*/
.FotoNome{
    background: rgb(2,102,168);
    background: radial-gradient(circle, rgba(2,102,168,1) 0%, rgba(1,77,129,1) 100%);
    border-radius: 12px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
/*Formatação do conteúdo presente no perfil*/
.conteudo{
    background-color: white;
    border-color:#b5babd;
    border-radius: 12px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
/*Formatação do h2*/
.carteira h2{
    color: #014d81;
    font-weight: bold;
}
/*Formatação do icone de edição*/
.edicao{
    color: white;
    position: relative;
}
.iconeEdicao{
    text-align: right;
    padding: 5px;
}
/*Formatação das caixas para input*/
.inputEdicao{
    margin: 1%;
    height: 30px;
}
/*Formatação do h2*/
h2{
    text-align: center;
}
/*Fomatação das caixinhas com os nomes das vacinas*/
.vacina{
    margin: 1%;
    border: 2px solid gray;
    border-radius: 12px;
    text-align: center;
    padding: 5px;
    padding-top: 10px;
}
.vacina h5:first-child{
    font-weight: bold;
}
.vacina p{
    margin: 0;
}
.vacina hr{
    margin: 5px;
}